/* header использутся на всех страницах */

.o-header {
	position: relative;
	width: 100%;
	height: 105px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.o-header__logo-wrapper {
	float: left;
	padding-top: 22.5px;
	height: 100%;
}

.o-header__logo-link {
	display: block;
}

.o-header__logo {
	width: 145px;
	height: 60px;
}

.o-header__nav-wrapper {
	float: right;
	height: 100%;
}

.o-header__nav-list {
	padding-top: 42px;
	font-size: 0;
}

.o-header__nav-item {
	display: inline-block;
}

.o-header__nav-item_margin_left_40 {
	margin-left: 40px;
}

.o-header__nav-link {
	font-size: 18px;
	color: #adafb2;
	text-transform: uppercase;
}

.o-header__nav-link_active,
.o-header__nav-link:hover {
	color: #ed1b2f;
}

/* Контейнер для главной страницы */

.o-container {}

.o-container_height {
	height: calc(100% - 255px);
}

.o-container_background_color_white {
	background-color: #fff;
}

.o-container_shadow_5 {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
}

.o-container_margin_top_50 {
	margin-top:  50px;
}

.o-container_margin_bottom_100 {
	margin-bottom: 100px;
}

.o-main__wrapper {
	margin: 0 40px;
}

.o-main__header-wrapper {
	margin: 0 20px;
}

.o-main__header {
	padding: 30px 0 0;
	border-bottom: solid 1px #d8d8d8;
}

.o-main__title {
	float: left;
	padding-bottom: 20px;
}

.o-main__form {
	position: relative;
	float: right;
	width: 225px;
}

.o-main__form_margin_top_10 {
	margin-top: 10px;
}

.o-main__search {
	height: 40px;
}

.o-main__search::placeholder {
	font-size: 14px;
	font-weight: normal;
	color: #c3c3c3;
}

.o-main__button {
	position: absolute;
	top: 8px;
	right: 8px;
}

.o-main__button-icon {
	width: 24px;
	height: 24px;
	color: #E5E5E5;
}

.o-main__pockets-wrapper {
	margin: 0 5px;
}

.o-main__pockets {
	padding: 30px 0 60px;
}

.o-main__pocket {
	padding: 0 15px;
}

.o-main__pocket-img {
	display: block;
	width: 100%;
	height: 200px;
	background-position: center;
	background-size: cover;
}

.o-main__pocket-title {
	padding: 18px 0 5px;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32393d;
}

.o-main__pocket-date {
	font-size: 16px;
	color: #adafb2;
}

.o-main__apps-wrapper {
	width: 100%;
}

.o-main__apps {
	padding: 0 0 60px;
}

.o-main__apps-column {
	padding: 0 20px;
}

.o-main__apps-header {
	position: relative;
	padding: 0 40px 20px 0;
	border-bottom: solid 1px #d8d8d8;
}
 
.o-main__apps-header-title-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	transform: rotateZ(180deg);
	color: #32393D;
}

.o-main__apps-header_margin_bottom_40 {
	margin-bottom: 40px;
}

.o-main__apps-list {
	width: 100%;
}

.o-main__apps-item {
	position: relative;
	padding-left: 40px;
}

.o-main__apps-item_margin_bottom_30 {
	margin-bottom: 30px;
}

.o-main__apps-title {
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	color: #47525d;
}

.o-main__apps-link {
	font-size: 20px;
	line-height: 1.5;
	color: rgba(96, 106, 117, 0.6);
}

.o-main__apps-link:hover {
	color: #ed1b2f;
}

.o-main__apps-icon {
	position: absolute;
	top: 3px;
	left: 0;
	width: 24px;
	height: 24px;
	color: #D6D8D9;
}

/* Стили для Каталога */

.o-catalog {
	float: left;
	min-height: calc(100% - 255px);
	width: 385px;
	background-color: #fff;

	margin-bottom: -20000px;
	padding-bottom: 20000px;
	overflow-y: hidden;
}

.o-content {
	min-height: calc(100% - 255px);
	margin-left:410px;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);

	margin-bottom: -20000px;
	padding-bottom: 20000px;
	overflow-y: hidden;
}

.o-catalog__wrapper {
	padding: 40px 25px 0;
}

.o-catalog__title {
	padding-bottom: 18px;
	border-bottom: solid 1px #d8d8d8;
}

.o-catalog__list {
	padding-top: 20px;
	padding-left: 25px;
}

.o-catalog__item {
	padding-left: 10px;
	list-style-type: disc;
	color: #79878e;
}

.o-catalog__link {
	font-size: 20px;
	line-height: 40px;
	color: #79878e;
}

.o-catalog__link_active,
.o-catalog__link:hover {
	color: #f13843;
	text-decoration: underline;
}

.o-content__title {
	padding: 30px 0 17px;
}

.o-content__title_margin_side_40 {
	margin: 0 40px;
}

.o-content__title_border_bottom {
	border-bottom: solid 1px #d8d8d8;
}

.o-content__table {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;

	overflow-x: auto;
	white-space: nowrap;

	border-collapse: collapse;
	border-spacing: 0;
}

.o-content__table_margin_bottom_50 {
	margin-bottom: 50px;
}

.o-content__table tbody tr:nth-child(2n) {
	background-color: #f7f7f7;
}

.o-content__table-head {
	background-color: #f1f1f1;
}

.o-content__table-img-cell {
	width: 16.233%;
}

.o-content__table-img {
	margin: 10px 10px 10px 35px;
	width: 80px;
	height: 60px;
	background-image: url(../images/shot-2-small.jpg);
	background-position: 100%;
	background-size: cover;
}

.o-content__table-name-cell {
	width: 28.57%;
}

.o-content__table-name {
	font-size: 16px;
	line-height: 25px;
	color: #79878e;
}

.o-content__table-date {
	font-size: 13px;
	color: #adafb2;
}

.o-content__table_margin_side_10 {
	margin: 0 10px;
}

.o-content__table-title-name,
.o-content__table-title-description,
.o-content__table-title-cost {
	padding: 0 10px;
	height: 35px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	color: #414141;
}

.o-content__table-title-cost {
	font-size: 13px;
}

.o-content__table-description-cell {
	width: 44%;
}

.o-content__table-description {
	font-size: 13px;
	font-weight: normal;
	color: #222222;
}

.o-content__table-cost-cell {
	width: 11.17%;
	padding-left: 10px;
	padding-right: 70px;
	font-size: 18px;
	font-weight: normal;
	color: #5f5f5f;
}

/* инфо приложения */

.o-app {
	padding: 0 40px 0 35px;
}

.o-app__wrapper {
	padding: 20px 0 40px;
}

.o-app__inbasket {
	float: right;
    max-width: 250px;
    width: 100%;
}

.o-app__img {
	height: 190px;
	background-image: url(../images/shot-2-info.jpg);
	background-position: 100%;
	background-size: cover;
}

.o-app__button {
	display: block;
	margin: 0 auto;
}

.o-app__button_margin_top_20 {
	margin-top: 20px;
}

.o-app__button span {
	display: inline-block;
	line-height: 20px;
}

.o-app__button-icon {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.o-app__button-icon_margin_left_5 {
	margin-left: 5px;
}

.o-app__info {
	float: left;
	/* margin-right: 350px; */
}

.o-app__info-date {
	font-size: 16px;
	color: #adafb2;
}




