/* header использутся на всех страницах */

.o-header {
	position: relative;
	width: 100%;
	height: 105px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.o-header__logo-wrapper {
	float: left;
	padding-top: 22.5px;
	height: 100%;
}

.o-header__logo-link {
	display: block;
}

.o-header__logo {
	width: 145px;
	height: 60px;
}

.o-header__nav-wrapper {
	float: right;
	height: 100%;
}

.o-header__nav-list {
	padding-top: 42px;
	font-size: 0;
}

.o-header__nav-item {
	display: inline-block;
}

.o-header__nav-item_margin_left_40 {
	margin-left: 40px;
}

.o-header__nav-link {
	font-size: 18px;
	color: #adafb2;
	text-transform: uppercase;
}

.o-header__nav-link_active {
	color: #ed1b2f;
}

.o-header__nav-link:hover {
	color: #ed1b2f;
}

/* Контейнер для главной страницы */

.o-container {
	height: calc(100% - 255px);
}

.o-container_background_color_white {
	background-color: #fff;
}

.o-container_shadow_5 {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
}

.o-container_margin_top_50 {
	margin-top:  50px;
}

.o-container_margin_bottom_100 {
	margin-bottom: 100px;
}

.o-main__wrapper {
	margin: 0 40px;
}

.o-main__header-wrapper {
	margin: 0 20px;
}

.o-main__header {
	padding: 30px 0 0;
	border-bottom: solid 1px #d8d8d8;
}

.o-main__title {
	float: left;
	padding-bottom: 20px;
}

.o-main__form {
	position: relative;
	float: right;
	width: 225px;
}

.o-main__form_margin_top_10 {
	margin-top: 10px;
}

.o-main__search {
	height: 40px;
}

.o-main__search::placeholder {
	font-size: 14px;
	font-weight: normal;
	color: #c3c3c3;
}

.o-main__button {
	position: absolute;
	top: 8px;
	right: 8px;
}

.o-main__button-icon {
	width: 24px;
	height: 24px;
	color: #E5E5E5;
}

.o-main__pockets-wrapper {
	margin: 0 5px;
}

.o-main__pockets {
	padding: 30px 0 60px;
}

.o-main__pocket {
	padding: 0 15px;
}

.o-main__pocket-img {
	width: 100%;
	height: 200px;
	background-position: center;
	background-size: cover;
}

.o-main__pocket-title {
	padding: 18px 0 5px;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32393d;
}

.o-main__pocket-date {
	font-size: 16px;
	color: #adafb2;
}

.o-main__apps-wrapper {
	width: 100%;
}

.o-main__apps {
	padding: 0 0 60px;
}

.o-main__apps-column {
	padding: 0 20px;
}

.o-main__apps-header {
	position: relative;
	padding: 0 40px 20px 0;
	border-bottom: solid 1px #d8d8d8;
}
 
.o-main__apps-header-title-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	transform: rotateZ(180deg);
	color: #32393D;
}

.o-main__apps-header_margin_bottom_40 {
	margin-bottom: 40px;
}

.o-main__apps-list {
	width: 100%;
}

.o-main__apps-item {
	position: relative;
	padding-left: 40px;
}

.o-main__apps-item_margin_bottom_30 {
	margin-bottom: 30px;
}

.o-main__apps-title {
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	color: #47525d;
}

.o-main__apps-link {
	font-size: 20px;
	line-height: 1.5;
	color: rgba(96, 106, 117, 0.6);
}

.o-main__apps-link:hover {
	color: #ed1b2f;
}

.o-main__apps-icon {
	position: absolute;
	top: 3px;
	left: 0;
	width: 24px;
	height: 24px;
	color: #D6D8D9;
}

/* Стили для Каталога */

.o-catalog {
	float: left;
	min-height: calc(100% - 255px);
	width: 385px;
	background-color: #fff;

	margin-bottom: -20000px;
	padding-bottom: 20000px;
	overflow-y: hidden;
}

.o-content {
	min-height: calc(100% - 255px);
	margin-left:410px;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);

	margin-bottom: -20000px;
	padding-bottom: 20000px;
	overflow-y: hidden;
}
